node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids/
*.pid
*.seed
*.pid.lock
.DS_Store
Thumbs.db
.env
.env.local
.env.development
.env.production
.env.test
.vscode/
.idea/
*.css.map
.git/