<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Elden Ring Bosses</title>
</head>
<body class="bg-gray-100">
  <nav class="bg-black text-white p-4 text-3xl font-bold text-center flex items-center space-x-4">
    <img src="/assets/eldenring.png" alt="Elden Ring" class="w-16 h-16 object-contain" />
    <h1>
      Elden Ring Bosses
    </h1>
  </nav>
  
  <main class="p-4">
    <section id="boss-list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"></section>
  </main>

  <script src="/js/main.js"></script>
</body>
</html>